@page
@model Eyeglasses_Le_Quyet_Anh.Pages.eyeglasses.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].EyeglassesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].EyeglassesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].FrameColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eyeglass[0].LensType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Eyeglass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EyeglassesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyeglassesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LensType.LensTypeId)
            </td>
            <td>
                @{
                    if(Model.Role == 1){
                        <div>
                                <a asp-page="./Edit" asp-route-id="@item.EyeglassesId">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.EyeglassesId">Delete</a> |
                                <a asp-page="./Details" asp-route-id="@item.EyeglassesId">Details</a>
                        </div>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{
            for(int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
            }
        }
    </ul>
</nav>
